.signup {
    border:1px solid #999999;
    font:normal 14px helvetica;
    color:#444444;
    background-color:#eeeeee;
    border-spacing:5px;
}

.signup td {
    font-size:24px;
}

.signup td, .signup td {
    padding:2px;
}

.signup input, .signup select {
    border-radius:10px;
    padding:5px;
}

.signup input[type='checkbox'] {
    transform:scale(1.5);
}

.signup input[type='submit'] {
    background-color:lightgreen;
    width:100px;
}

.error, .required {
    color:red;
}

#submit{
    display: flex;
    justify-content: center;
    margin-left:200px ;
}