body{
    font-size: large;
    background: linear-gradient(to left,#fff,rgb(13, 227, 227));
}

label .required::after {
  content: " *";
  color: red;
}


table input {
  width: 100%;
}

.error{
    font-size: smaller;
    color: red;
}

input[type="text"],input[type="password"],input[type="submit"],input[type="email"]{
    width: 500px;
    font-family: 'Lexend';
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s ease,box-shadow 0.3s ease;
}


input[type="text"]:hover,input[type="password"]:hover,input[type="submit"]:hover,input[type="email"]:hover{
    border-color: #36e14d;
    box-shadow: 0 0 5px rgba(3, 32, 67, 0.771);
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Lexend';
    border-radius: 15px;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0.245);
    padding: 25px;
    transition: box-shadow 0.3s ease;
    margin-bottom: 25px;
}

form:hover{
    box-shadow: 0 0 10px #000;
}

form #sub{
    width: max-content;
    height: 100 px;
    font-size: 25px;
}

button{
    width: max-content;
    height: 100 px;
    font-size: 25px;
    padding: 10px;
}   

/* 
table,td,tr{
    border: 2px solid black ;
} */